# Copyright (c) 2024 Winford (Uncle Grumpy) <winford@object.stream>
# SPDX-License-Identifier: CC0

name: Check Arduino Formatting
on:
  push:
    paths:
      - '**.ino'
      - '.github/workflows/formatting.yml'
  pull_request:
    paths:
      - '**.ino'
      - '.github/workflows/formatting.yml'
  workflow_dispatch:
  repository_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Arduino Lint
        uses: arduino/arduino-lint-action@v1
        with:
          compliance: specification
          library-manager: update
