# Copyright (c) 2024 Winford (Uncle Grumpy) <winford@object.stream>
# SPDX-License-Identifier: CC0

name: Check JavaScript/HTML formatting
on:
  push:
    paths:
      - '**.html'
      - '**.js'
      - '.github/workflows/web_lint.yml'
  pull_request:
    paths:
      - '**.html'
      - '**.js'
      - '.github/workflows/web_lint.yml'
  workflow_dispatch:
  repository_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:

      - name: Setup Node
        uses: actions/checkout@v4

      - name: Convince node to install for non-node project
        run: touch package-lock.json

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install linters
        run: npm install standard htmlhint --global

      - name: Lint html
        run: htmlhint data/_static/*.html

      - name: Lint JavaScript
        run: standard "data/_static/*.js"
